.grid_container{
    min-height: 100%;
    min-width: 100%;
    grid-template-areas: 
    "header"
    "navbar"
    "main"
    "footer";
}

.body{
    height: 100px;

}

.imagen_logo{  
    height: 80px;
}

.div1{
    margin-left: 20px;
    padding:24px;
}

.titulo_prin{
    color: aliceblue;
}

.header{
    background-color: #7933DA;
    height: 140px;
    display: flex;
    align-items: center;
}

.articulo{
    display: flex;
    justify-content: center;
}

.formulario ol{
    display: flex;
    flex-direction: column;  
}

.formulario label{
    font-weight: 500;
}

.formulario input{ 
    width: 500px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

.boton{
    font-size: 18px ;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background-color: #7933DA;
    border-radius: 999px ;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    display: block;
    height: 38px;
    margin: 0;
    padding: 0 25px;
}

.genero{
    width: 160px;
    height: 24px;
}

.logo{
    width: 250px;
    height: 200px;
    margin-left: 40%;
}

.body{
    background-color: blueviolet;
    color: blue;
}