.formulario{
    margin-left: 40%;
    font-family: tahoma;
    
}

.boton{
    border-radius: 8px;
    background-color: #14CAE3;
    width: 156px;
    height: 40px;
    margin-left: 8px;
    font-family: tahoma;
}

.genero{
    width: 160px;
    height: 24px;
}

.logo{
    width: 250px;
    height: 200px;
    margin-left: 40%;
 
}

.body{
    background-color: blueviolet;
    color: blue;
}